.brand{
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    font-weight: 300;
}

.navlink{
    font-family: 'Bungee Inline', cursive;
}

.navbar{
    background-color: #000;
    border-bottom: 1px solid #f7f7f7;
}