.main{
    background-size: contain;
    margin: 0;
    width: 99vw;
  height: 99vh;
}

.mainpage{
    padding: 0;
    border: none;
    overflow:hidden;
}

.cardimg{
    opacity: 0.8;
    height: 100vh;
    width:100%;
    margin: 0;
   
}

.datetext{
    font-family: 'Bungee Inline', cursive;
    font-weight: 200;
    color: #000;
    text-align: center;
    margin-top: 5em;
}